body{
    font-family: 'Roboto', sans-serif;
    color: #434455;
    background-color: #ffffff;
    transform: capitalize;
}

ul{
    list-style-type: none
}

a{
    text-decoration: none; 
}

.header-logo{
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}

.header-logo .logo-part{
    color: #2e2f42;
}

.menu-nav-link{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.menu-nav-list .menu-nav-link{
    color: #2e2f42;
}

.menu-nav-list .menu-nav-link:hover,
.menu-nav-list .menu-nav-link:focus{
    color: #404bbf;
}

.address{
   font-style: normal;
} 

.address-link{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}    

.address-list .address{
    color: #434455   
} 

.address-link:hover,
.address-link:focus{
    color: #404bbf;
}


.hero-page{
    background: #2e2f42;
}
.hero-page-title{
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff;
}
.hero-page-button{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    font-style: italic;
    background-color:#4d5ae5;
    cursor: pointer;
}

button:hover, button:focus{
    background-color: #404bbf;   
}

.features-subtitle{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.features-item-text{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.team-page{
    background: #f4f4fd;
}

.team-page-title{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    text-transform: capitalize;
}

.team-item{
    background: #fff;
}

.team-subtitle{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
}

.team-descr{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
}

.portfolio-item{
    background: #fff;
}

.portfolio-page-title{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    text-transform: capitalize;
}

.portfolio-subtitle{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.portfolio-descr{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.footer-page{
    background: #2e2f42;
}

.footer-logo{
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}

.footer-logo .logo-part{
    color: #f4f4fd;
}

.footer-text{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
}